table {
    margin: auto;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    background-color: rgba(110, 32, 9, 0.8) ;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: aliceblue;
  }
  
  tr:nth-child(odd) {
    background-color: rgba(192, 133, 85, 0.8) ;
  }
button{
      border: 1px solid darkgray;
     margin-left:5px;
     border-radius:10px;
      background: rgba(106, 192, 85, 0.8);
color: floralwhite;}